menu "Example Configuration"
    config EXAMPLE_RMT_TX_GPIO
        int "RMT TX GPIO"
        default 38
        help
            Set the GPIO number used for transmitting the RMT signal.

    config EXAMPLE_LED_STRIP_GPIO
        int "LED STRIP GPIO"
        default 48
        help
            Set the GPIO number used for transmitting the RMT signal.

    config EXAMPLE_STRIP_LED_NUMBER
        int "Number of LEDS in a strip"
        default 12
        help
            A single RGB strip contains several LEDs.

    config EXAMPLE_WIFI_SSID
        string "WiFi SSID"
        default "myssid"
        help
            Set the SSID of the WiFi network to connect to.
    
    config EXAMPLE_WIFI_PASSWORD
        string "WiFi Password"
        default "mypassword"
        help
            Set the password of the WiFi network to connect to.
endmenu
